.homeImage{
    margin-top: 5%;
    background-image:url('https://i.imgur.com/ofovxjx.jpg'); 
    background-position: cover cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 300%;
    max-width: 100%;
    margin:0;
}

.welcome {
    text-align: center;
    padding-top: 10%;
}
/* .homeImage {
    background-image:url('https://i.imgur.com/iKoYp02.jpg'); 
    background-position: cover cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: skyblue;
} */