.TripDetailCard {
    background-color: #E8F3F5;
    margin: 20px;
    border: 3px solid #898e8a !important;
    border-radius: 15px !important;
    box-shadow: 5px 10px #bfbdbd;
  } 
  .image_fluid{
      height: auto;
      width: 70%;
      border-radius: 10px; 
  }
  h6 {
      padding: 10px;
  }